//
// Typography
//

$font-family: 'Poppins', sans-serif;
$font-family--logo: 'Sawarabi Gothic', sans-serif;

$font-size: 18px;
$font-size--large: 22px;
$font-size--small: 16px;
$font-size--h1: 62px;
$font-size--h2: 44px;
$font-size--h3: 30px;


//
// Colors
//

$color-theme: #4cb480;
$color-light: #fff;

$text-color: #5a5f65;
$text-color--transparent: rgba(255, 255, 255, 0.5);

$title-color: #353a3f;

//
// Backgrounds
//

$background-dark: #353a3f;
$background-light: #f6f6f6;

$background-aside: #282d32;

